.Filter{
    width: 248px;
    position: absolute;
    height: 500px;
    top: 105px;
    bottom: 0;
    border: lightgray 3px solid;
    background-color: lightyellow;
}

.Title {
    background-color: lightgray;
    margin-bottom: 5px;
}

.Para {
    display: flex;
}

input {
    margin-left: 8px;
    margin-right: 8px;
}

.Button {
    margin: 10px 20px 10px 20px;
}